# Core Frameworks
langchain
langchain-openai
langchain-community
langchain-huggingface
langgraph
faiss-cpu
python-dotenv

# Vector DB & Embeddings
chromadb
sentence-transformers

# API & UI
fastapi
uvicorn
pydantic
streamlit
requests

# MLOps & Utilities
mlflow
python-dotenv
pandas